# Predikcia

In [1]:
%matplotlib inline
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import scipy.stats as stats
import statsmodels.api as sm
import statsmodels.stats.api as sms
from sklearn.pipeline import Pipeline

In [2]:
pd.options.display.width = None
pd.options.display.max_columns = None

In [3]:
data_personal = pd.read_csv("data/personal_train.csv")
data_other = pd.read_csv("data/other_train.csv")

In [4]:
from Models import CombineDatasets as d1
from Models import DecodeJSONColumn as d2
from Models import ColumnDropper as d3
from Models import BinaryEncoder as d4
from Models import ClassFixer as d5
from Models import FixDates as d6
from Models import ComputeCurYear as d7
from Models import Replacer as d8
from Models import FillMeasuredColumns as d9
from Models import CountMeasuredHormones as d10
from Models import FillNanNumeric as d11
from Models import PredictNanNumeric as d12
from Models import Classifier as d13
from Models import QuantileReplacer as d14

In [5]:
bool_columns = [
    'FTI measured',
    'I131 treatment',
    'T3 measured',
    'goitre',
    'lithium',
    'on thyroxine',
    'pregnant',
    'tumor',
    'query on thyroxine',
    'thyroid surgery',
    'TSH measured',
    'query hyperthyroid',
    'TT4 measured',
    'on antithyroid medication',
    'sick',
    'T4U measured',
    'psych',
    'query hypothyroid'
]

In [6]:
ppl = Pipeline([
    ('combination', d1.CombineDatasets()),
#     ('json_decode', d2.DecodeJSONColumn('medical_info')),
#     ('drop_columns', d3.ColumnDropper(['hypopituitary', 'TBG measured', 'TBG'])),
#     ('binary_fixer', d4.BinaryEncoder(bool_columns)),
#     ('class_fix', d5.ClassFixer()),
#     ('fix_dates', d6.FixDates()),
#     ('compute_cur_year', d7.ComputeCurYear()),
#     ('fti_question_mark_to_nan', d8.Replacer(['FTI'], '?', float('nan'), float)),
#     ('fti_question_mark_to_nan1', d8.Replacer(['FTI'], np.nan, float('nan'), float)),
#     ('fill_measured_columns', d9.FillMeasuredColumns()),
#     ('count_measured', d10.CountMeasuredHormones('measured_hormones')),
    
#     # Fill hormony
#     ('fill_tt4', d11.FillNanNumeric('mean', 'TT4')),
#     ('fill_tsh', d11.FillNanNumeric('median', 'TSH')),
#     ('predicted_t3', d12.PredictNanNumeric('T3', ['TT4', 'TSH'])),
#     ('predicted_t4u', d12.PredictNanNumeric('T4U', ['TT4', 'TSH'])),
#     ('predicted_fti', d12.PredictNanNumeric('FTI', ['TT4', 'TSH', 'T4U'])),
    
#     # Fill pregnant
#     ('pregnant_predict', d13.Classifier('pregnant', ['T3', 'T4U', 'TT4'])),
    
#     # Fill other variables
#     ('fill_tumor', d11.FillNanNumeric('median', 'tumor')),
#     ('fill_lithium', d11.FillNanNumeric('mean', 'lithium')),
#     ('fill_on_thyroxine', d11.FillNanNumeric('mean', 'on thyroxine')),
#     ('fill_goitre', d11.FillNanNumeric('most_frequent', 'goitre')),
#     ('fill_q_on_thyroxine', d11.FillNanNumeric('mean', 'query on thyroxine')),
    
#     #Replace outlier
#     ('replace_t3', d14.QuantileReplacer('T3')),
#     ('replace_age', d14.QuantileReplacer('age')),
#     ('replace_t4u', d14.QuantileReplacer('T4U')),
#     ('replace_tsh', d14.QuantileReplacer('TSH')),
#     ('replace_tt4', d14.QuantileReplacer('TT4')),
#     ('replace_fti', d14.QuantileReplacer('FTI')),
    
])

In [7]:
#data = ppl.fit(data_personal, data_other)

In [8]:
data.fit_transform(data_personal, data_other)

,Unnamed: 0_x,name,address,age,sex,date_of_birth,FTI measured,I131 treatment,T3,T3 measured,T4U,TBG,TBG measured,TSH,TT4,Unnamed: 0_y,capital-gain,capital-loss,class,education,education-num,fnlwgt,goitre,hours-per-week,hypopituitary,lithium,marital-status,medical_info,native-country,occupation,on thyroxine,pregnant,query on thyroxine,race,referral source,relationship,thyroid surgery,tumor,workclass
0,0,Terry Terry,"11818 Lori Crossing Apt. 802\nPughstad, DC 78165",24.0,M,94-05-02,f,f,1.6,t,NaN,?,f,0.100,182.0,1476.0,0.0,0.0,negative.|2815,HS-grad,9.0,144844.0,f,40.0,f,f,Married-civ-spouse,"{'TSH measured':'t','query hyperthyroid':'f','...",United-States,Craft-repair,f,f,f,White,SVHC,Husband,f,f,Private
1,1,Stephen Lalk,"PSC 4657, Box 5446\nAPO AP 58412",44.0,M,1974-04-29 00 00 00,t,f,1.3,t,0.94,?,f,2.000,136.0,444.0,0.0,0.0,negative.|3345,Bachelors,13.0,335067.0,f,50.0,f,f,Never-married,"{'TSH measured':'t','query hyperthyroid':'f','...",United-States,Sales,f,f,f,White,SVHD,Not-in-family,f,f,Private
2,2,Abraham Bruce,Unit 9759 Box 9470\nDPO AP 45549,56.0,M,1962-06-09,f,f,NaN,f,NaN,?,f,NaN,NaN,1658.0,0.0,0.0,negative.|262,Prof-school,15.0,186035.0,f,30.0,f,f,Married-civ-spouse,"{'TSH measured':'f','query hyperthyroid':'f','...",United-States,Sales,f,f,f,White,other,Husband,f,f,Self-emp-not-inc
3,3,Edith Boudreaux,"137 Lewis Flat Suite 762\nWest Elizabeth, AL 3...",71.0,F,1946-12-16 00 00 00,t,f,1.8,t,1.16,?,f,1.600,136.0,2203.0,0.0,0.0,negative.|2228,Bachelors,13.0,36601.0,f,50.0,f,f,Never-married,"{'TSH measured':'t','query hyperthyroid':'f','...",United-States,Prof-specialty,f,f,f,White,SVI,Not-in-family,f,f,Private
4,4,Janet Washington,"995 Frank Stravenue\nSouth Matthewport, TX 81402",63.0,F,1955-10-15,t,f,1.8,t,0.85,?,f,0.670,107.0,2275.0,0.0,0.0,negative.|3085,HS-grad,9.0,29810.0,f,50.0,f,f,Never-married,"{'TSH measured':'t','query hyperthyroid':'f','...",United-States,Other-service,f,f,f,White,other,Not-in-family,f,f,Private
5,5,Margaret Chabot,"1781 Meredith Skyway Suite 328\nCordovaburgh, ...",63.0,F,1955-05-22,f,t,1.6,t,NaN,?,f,2.900,101.0,1775.0,0.0,0.0,negative.|873,Some-college,10.0,518530.0,f,40.0,f,f,Never-married,"{'TSH measured':'t','query hyperthyroid':'f','...",United-States,Adm-clerical,t,f,f,White,Other,Own-child,f,f,Private
6,6,James Wilson,"2415 Elizabeth Knoll Suite 030\nCordovafort, C...",70.0,M,1948-05-03,t,f,1.0,t,0.88,?,f,3.600,60.0,859.0,0.0,0.0,negative.|3293,Doctorate,16.0,343721.0,f,30.0,f,f,Never-married,"{'TSH measured':'t','query hyperthyroid':'f','...",?,Prof-specialty,f,f,f,White,SVI,Not-in-family,f,f,Self-emp-not-inc
7,7,Roy Wilson,"49824 Kim View\nWest Ericborough, VT 42457",54.0,?,1964-06-07,t,f,1.9,t,0.99,?,f,2.700,111.0,1261.0,4650.0,0.0,negative.|1696,12th,8.0,192704.0,f,50.0,f,f,Never-married,"{'TSH measured':'t','query hyperthyroid':'f','...",United-States,Exec-managerial,f,f,f,White,SVI,Not-in-family,f,f,Private
8,8,Colleen Satterwhite,"53231 Matthew Spur Apt. 079\nNorth Brian, MA 3...",48.0,F,1970-06-07 00:00:00,t,f,2.7,t,1.20,?,f,1.800,124.0,1913.0,0.0,0.0,negative.|3250,Some-college,10.0,153167.0,f,40.0,f,f,Never-married,"{'TSH measured':'t','query hyperthyroid':'f','...",United-States,?,f,f,f,Black,SVI,Own-child,f,f,?
9,9,Judy Smith,USNV Gallegos\nFPO AA 99743,55.0,F,1963-06-02,t,f,2.3,t,0.97,?,f,1.800,98.0,2071.0,0.0,0.0,negative.|774,12th,8.0,176321.0,f,40.0,f,f,Never-married,"{'TSH measured':'t','query hyperthyroid':'f','...",Mexico,Adm-clerical,f,f,f,White,SVI,Own-child,f,f,Private
10,10,Anna Swartz,"655 Karen Causeway\nBenjaminberg, NY 46590",69.0,F,1948/10/31,t,f,1.9,t,0.99,?,f,1.600,90.0,344.0,0.0,0.0,negative.|2584,HS-grad,9.0,367037.0,f,40.0,f,f,Divorced,"{'TSH measured':'t','query hyperthyroid':'f','...",United-States,Adm-clerical,f,f,f,White,other,Unmarried,f,f,Private
11,11,Patricia Kealy,"9197 Juarez Lock\nNew Matthew, VA 12312",79.0,F,1939-08-13,t,f,0.4,t,0.60,?,f,2.300,73.0,1433.0,0.0,0.0,negative.|2472,7th-8th,4.0,175558.0,f,20.0,f,f,Widowed,"{'TSH measured':'t','query hyperthyroid':'f','...",Germany,Other-service,f,f,f,White,sVI,Not-in-family,f,f,Private
12,12,Carl Young,"9892 Stephen Track Suite 831\nSharonstad, TN 1...",49.0,M,1969-10-09 00 00 00,t,f,2.8,t,1.11,?,f,1.000,141.0,576.0,0.0,0.0,negative.|2720,Bachelors,13.0,102771.0,f,40.0,f,f,Married-civ-spouse,"{'TSH measured':'t','query hyperthyroid':'f','...",United-States,Transport-moving,f,f,f,White,other,Husband,f,f,NaN
13,13,Morgan Toole,"62673 Jeanette Track Apt. 852\nMckenzieberg, W...",74.0,F,1944-09-07 00:00:00,t,f,0.9,t,0.71,?,f,0.650,92.0,1016.0,0.0,0.0,negative.|773,Bachelors,13.0,187937.0,f,40.0,f,f,Never-married,"{'TSH measured':'t','query hyperthyroid':'f','...",United-States,Prof-specialty,f,f,f,White,SVI,Unmarried,f,f,Private
14,14,Betty Kannel,"85154 Young Mill\nAaronville, IA 31780",76.0,F,1942-06-05,t,f,2.0,t,1.16,?,f,3.100,118.0,509.0,0.0,0.0,negative.|1356,Some-college,10.0,278304.0,f,15.0,f,f,Never-married,"{'TSH measured':'t','query hyperthyroid':'f','...",United-States,Other-service,f,f,f,White,other,Own-child,f,f,Private
15,15,Ronald Speigel,"509 Antonio Haven Suite 117\nWest Ricky, OK 35203",72.0,?,1946-10-06,t,f,1.6,t,0.92,?,f,4.100,94.0,674.0,0.0,0.0,negative.|3295,Bachelors,13.0,42563.0,f,25.0,f,f,Married-civ-spouse,"{'TSH measured':'t','query hyperthyroid':'f','...",United-States,Tech-support,f,f,f,White,Other,Wife,f,f,Private
16,16,Patricia Wasilewski,"024 Jordan Plains Suite 643\nAndreamouth, WI 5...",73.0,F,1945-07-31,t,f,NaN,f,0.97,?,f,0.390,104.0,409.0,0.0,0.0,negative.|2618,HS-grad,9.0,198992.0,f,35.0,f,f,Never-married,"{'TSH measured':'t','query hyperthyroid':'f','...",United-States,Adm-clerical,t,f,f,White,other,Own-child,f,f,Private
17,17,Lori Scott,31259 Porter Gateway Suite 886\nEast Sarahfort...,37.0,F,1981-10-16 00:00:00,t,f,2.1,t,0.99,?,f,0.640,92.0,1555.0,0.0,0.0,negative.|2588,11th,7.0,94392.0,f,20.0,f,t,Separated,"{'TSH measured':'t','query hyperthyroid':'f','...",United-States,Other-service,f,f,F,White,other,Unmarried,f,f,Private
18,18,Michael Guzman,USNV Robinson\nFPO AA 16102,55.0,M,1963-09-01,t,f,2.3,t,0.91,?,f,6.100,88.0,51.0,3432.0,0.0,negative.|845,Some-college,10.0,108390.0,f,20.0,f,f,Married-civ-spouse,"{'TSH measured':'t','query hyperthyroid':'f','...",United-States,?,f,f,f,White,SVI,Husband,f,f,?
19,19,Karen Boyles,"6135 Keith Route Apt. 868\nAbigailchester, OK ...",63.0,F,1955-09-24 00:00:00,t,t,1.6,t,0.93,?,f,42.000,60.0,261.0,0.0,0.0,negative.|3402,Bachelors,13.0,98130.0,f,39.0,f,f,Divorced,"{'TSH measured':'t','query hyperthyroid':'f','...",United-States,Prof-specialty,f,f,f,White,other,Own-child,f,f,??
20,20,Spencer Castano,"30989 Robert Stream Apt. 520\nJorgehaven, MS 9...",16.0,M,2002-01-11,t,f,2.0,t,1.03,?,f,1.800,103.0,535.0,0.0,0.0,negative.|967,Some-college,10.0,235722.0,f,20.0,f,f,Never-married,"{'TSH measured':'t','query hyperthyroid':'f','...",United-States,Other-service,f,f,f,White,other,Not-in-family,f,f,Private
21,21,Elizabeth Davis,6934 Victor Turnpike Apt. 644\nLake Paulamouth...,71.0,F,1947-04-03,t,f,2.4,t,1.35,?,f,0.160,165.0,81.0,0.0,0.0,increased binding protein.|2599,11th,7.0,118792.0,f,9.0,f,f,Never-married,"{'TSH measured':'t','query hyperthyroid':'f','...",United-States,Sales,f,f,f,White,SVI,Own-child,f,f,Private
22,22,Debra White,"83150 James Isle Suite 616\nLake Christinaton,...",60.0,F,1958-04-29,t,f,2.1,t,0.98,?,f,1.600,112.0,1041.0,0.0,0.0,negative.|3212,HS-grad,9.0,171655.0,f,42.0,f,f,Never-married,"{'TSH measured':'t','query hyperthyroid':'f','...",United-States,Adm-clerical,f,f,f,White,Other,Not-in-family,f,f,Private
23,23,Kelly Webb,"2397 Powell Skyway Apt. 944\nNew Brianport, PA...",79.0,F,12/06/1939,t,f,0.8,t,0.86,?,f,0.840,94.0,1902.0,0.0,0.0,negative.|1341,5th-6th,3.0,218445.0,f,12.0,f,f,Never-married,"{'TSH measured':'t','query hyperthyroid':'f','...",Mexico,Priv-house-serv,f,f,f,White,other,Unmarried,f,f,Private
24,24,Sandra Cherry,"58132 Emily Club Apt. 346\nEmmaborough, LA 16007",71.0,F,1946-12-21,t,f,2.0,t,1.05,?,f,1.500,96.0,749.0,0.0,0.0,negative.|1661,1st-4th,2.0,168981.0,f,24.0,f,f,Never-married,"{'TSH measured':'t','query hyperthyroid':'f','...",United-States,Sales,f,f,f,White,sVI,Own-child,f,f,Private
25,25,Terri Alexander,"4017 Marcus Brook\nWest Amber, NY 39009",45.0,F,1973-03-13,f,f,1.3,t,NaN,?,f,NaN,NaN,157.0,0.0,1887.0,negative.|3647,Some-college,10.0,182274.0,f,40.0,f,f,Married-civ-spouse,"{'TSH measured':'f','query hyperthyroid':'t','...",United-States,Exec-managerial,f,f,f,White,other,Wife,f,f,Private
26,26,Anitra Kennerly,"6580 Gregory Fork Apt. 987\nPort Joshuaport, N...",47.0,F,1971-08-02,t,f,2.0,t,1.00,?,f,2.300,109.0,2188.0,3464.0,0.0,negative.|911,Masters,14.0,157443.0,f,40.0,f,f,Married-civ-spouse,"{'TSH measured':'t','query hyperthyroid':'f','...",?,?,f,f,f,Asian-Pac-Islander,other,Wife,f,f,?
27,27,Amanda Grulkey,"2503 Brown Island Apt. 531\nFosterton, NC 83127",63.0,F,1954-12-10,t,f,2.1,t,1.22,?,f,0.900,153.0,925.0,0.0,0.0,negative.|120,Prof-school,15.0,175625.0,f,40.0,f,f,Divorced,"{'TSH measured':'t','query hyperthyroid':'f','...",United-States,Prof-specialty,f,f,f,White,other,Unmarried,f,f,Private
28,28,Melinda Deoliveira,"3266 Michael Walk Suite 579\nAngelaside, AL 13883",56.0,F,1962-06-07 00 00 00,t,f,1.1,t,1.13,?,f,3.000,122.0,2110.0,8614.0,0.0,negative.|2650,Masters,NaN,140219.0,f,55.0,f,f,Divorced,"{'TSH measured':'t','query hyperthyroid':'f','...",United-States,Prof-specialty,f,f,FALSE,White,SVI,Not-in-family,f,f,Local-gov
29,29,Hoyt Martinez,"0845 Brown Keys\nNew Tiffany, AZ 18220",76.0,M,1942-07-05,t,f,1.1,t,0.93,?,f,0.800,94.0,69.0,0.0,0.0,negative.|721,HS-grad,NaN,167848.0,f,40.0,f,f,Never-married,"{'TSH measured':'t','query hyperthyroid':'f','...",United-States,Machine-op-inspct,f,f,f,Black,SVHD,Not-in-family,f,f,Private
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2207,2207,Mary Skaggs,"78630 Brown Ridges\nSouth Brett, CO 11696",23.0,F,1995-09-09,f,f,2.0,t,NaN,?,f,4.100,102.0,308.0,0.0,0.0,negative.|1442,Some-college,10.0,176293.0,f,30.0,f,f,Married-spouse-absent,"{'TSH measured':'t','query hyperthyroid':'f','...",United-States,Prof-specialty,f,f,f,White,other,Not-in-family,f,f,Private
2208,2208,Lewis Green,"1471 Williams Via\nLake Elizabethshire, OR 97299",22.0,M,1996-05-02,t,f,2.3,t,1.02,?,f,1.700,111.0,1195.0,0.0,0.0,negative.|1597,Masters,NaN,216932.0,f,40.0,f,f,Married-civ-spouse,"{'TSH measured':'t','query hyperthyroid':'f','...",United-States,Exec-managerial,f,f,FALSE,White,other,Husband,f,f,Private
2209,2209,Charles Willard,"664 Chelsea Parks\nWest Williefort, MN 38529",7.0,M,2011-05-27,t,f,2.0,t,0.84,?,f,0.940,93.0,1712.0,0.0,0.0,negative.|2968,HS-grad,9.0,39026.0,f,30.0,f,f,Never-married,"{'TSH measured':'t','query hyperthyroid':'f','...",United-States,Other-service,f,f,F,White,other,Not-in-family,f,f,Private
2210,2210,Patricia Twyman,Unit 7771 Box 7980\nDPO AP 52262,75.0,F,1943-03-10 00 00 00,t,f,2.2,t,1.01,?,f,3.500,118.0,1419.0,0.0,0.0,negative.|1100,11th,NaN,167599.0,f,25.0,f,f,Married-civ-spouse,"{'TSH measured':'t','query hyperthyroid':'f','...",United-States,Handlers-cleaners,f,f,f,White,sVI,Wife,f,f,Private
2211,2211,Donte Watson,"1457 Cuevas Skyway\nKaylaside, MD 83845",14.0,M,29/03/2004,t,f,2.8,t,0.86,?,f,5.100,93.0,620.0,0.0,0.0,negative.|1324,HS-grad,9.0,129591.0,f,40.0,f,f,Never-married,"{'TSH measured':'t','query hyperthyroid':'f','...",United-States,Other-service,f,f,f,White,other,Not-in-family,f,f,Private
2212,2212,Hayley Quintanilla,"2997 Smith Garden Apt. 597\nAdamhaven, DC 25106",29.0,F,1989-06-06,t,f,NaN,f,1.41,?,f,1.600,140.0,468.0,0.0,0.0,increased binding protein.|3035,Some-college,10.0,121023.0,f,9.0,f,f,Never-married,"{'TSH measured':'t','query hyperthyroid':'f','...",United-States,Other-service,f,f,f,White,other,Own-child,f,f,Private
2213,2213,Edward Gionfriddo,"28971 Riley Coves\nKimberlytown, IN 38253",54.0,M,1964-07-03,t,f,2.2,t,1.03,?,f,2.400,116.0,1955.0,0.0,0.0,negative.|949,HS-grad,9.0,38240.0,f,40.0,f,f,Married-civ-spouse,"{'TSH measured':'t','query hyperthyroid':'f','...",United-States,Farming-fishing,f,f,f,White,SVI,Husband,f,f,Self-emp-inc
2214,2214,Briana Hayes,2718 Benjamin Skyway Apt. 984\nWest Ashleyvill...,66.0,F,1951/12/19,t,f,0.5,t,0.77,?,f,4.500,83.0,1693.0,15024.0,0.0,negative.|1001,Prof_school,15.0,747719.0,f,50.0,f,f,Married-civ-spouse,"{'TSH measured':'t','query hyperthyroid':'f','...",United-States,Prof-specialty,f,f,F,White,SVI,Wife,f,f,State-gov
2215,2215,Mary Benton,"3309 Brown Branch Suite 527\nMichaelshire, CT ...",41.0,F,1976-10-30,t,f,7.3,t,1.09,?,f,0.150,430.0,1984.0,2463.0,0.0,negative.|1982,Some-college,10.0,194293.0,f,38.0,f,f,Never-married,"{'TSH measured':'t','query hyperthyroid':'t','...",United-States,Adm-clerical,f,f,FALSE,White,STMW,Not-in-family,f,f,Private
2216,2216,Ethel Rodgers,"69601 Francis Isle\nTuckermouth, ME 99486",61.0,F,1957-03-14,t,f,3.8,t,1.13,?,f,0.200,252.0,1628.0,0.0,0.0,negative.|130,HS-grad,NaN,255849.0,f,40.0,f,f,Never-married,"{'TSH measured':'t','query hyperthyroid':'f','...",United-States,Adm-clerical,f,f,f,White,other,Own-child,f,f,Private
2217,2217,Clarence Hoover,USNV Cox\nFPO AP 97859,65.0,M,1953-05-14,t,f,0.6,t,0.59,?,f,1.200,61.0,43.0,0.0,0.0,negative.|102,HS-grad,9.0,256240.0,f,30.0,f,f,Never-married,"{'TSH measured':'t','query hyperthyroid':'f','...",United-States,Other-service,f,f,f,White,SVI,Own-child,f,f,Private
2218,2218,Jesse Brunswick,"02512 Lewis Roads\nMartinland, AR 68694",46.0,M,1971-12-16,t,f,2.2,t,1.03,?,f,1.400,122.0,726.0,0.0,0.0,negative.|3565,9th,5.0,445940.0,f,40.0,f,f,Married-civ-spouse,"{'TSH measured':'t','query hyperthyroid':'f','...",Mexico,Craft-repair,t,f,F,White,other,Husband,t,f,Private
2219,2219,Mary Miller,"7574 Richard Trail Apt. 277\nHoodview, TX 85262",63.0,F,1954-11-29 00 00 00,t,f,NaN,f,0.92,?,f,0.005,127.0,1774.0,0.0,0.0,negative.|3152,10th,6.0,99987.0,f,40.0,f,f,Separated,"{'TSH measured':'t','query hyperthyroid':'f','...",United-States,Machine-op-inspct,f,f,f,Black,SVI,Unmarried,f,f,Private
2220,2220,Brenda Morris,"2383 Miller Ranch\nSouth Stevenview, MS 94837",78.0,F,23/05/1940,t,f,1.1,t,0.82,?,f,3.100,112.0,974.0,0.0,0.0,negative.|954,Some-college,10.0,107801.0,f,6.0,f,f,Never-married,"{'TSH measured':'t','query hyperthyroid':'f','...",United-States,?,f,f,FALSE,White,SVHD,Own-child,f,f,NaN
2221,2221,Lon Hong,"PSC 4833, Box 2736\nAPO AP 05217",59.0,M,1959/09/29,t,f,2.1,t,0.72,?,f,1.500,77.0,2270.0,0.0,0.0,negative.|211,HS-grad,9.0,342709.0,f,40.0,f,f,Married-spouse-absent,"{'TSH measured':'t','query hyperthyroid':'f','...",United-States,Craft-repair,f,f,f,White,SVI,Other-relative,f,f,Private
2222,2222,Pauline Linden,Unit 2648 Box 3942\nDPO AP 81994,23.0,F,1994-11-26 00 00 00,t,f,2.9,t,1.38,?,f,0.900,136.0,1213.0,0.0,0.0,negative.|762,Assoc-voc,11.0,175622.0,f,40.0,f,f,Divorced,"{'TSH measured':'t','query hyperthyroid':'f','...",United-States,Other-service,f,f,f,White,other,Unmarried,f,f,Private
2223,2223,Eleanor Casarez,"54758 Hodge Trafficway\nLake Paulside, NM 63911",78.0,F,40-02-20,t,f,1.9,t,0.83,?,f,0.500,81.0,1817.0,10520.0,0.0,negative.|2137,Masters,NaN,113443.0,f,33.0,f,f,Divorced,"{'TSH measured':'t','query hyperthyroid':'f','...",United-States,Prof-specialty,f,f,f,White,SVI,Not-in-family,f,f,Local-gov
2224,2224,Michelle Burton,"3989 Jennifer Neck\nLake Gabrielabury, GA 29298",63.0,F,1954-11-01,t,f,2.4,t,0.92,?,f,1.200,134.0,783.0,13550.0,0.0,negative.|3049,Some-college,10.0,209867.0,f,45.0,f,f,Never-married,"{'TSH measured':'t','query hyperthyroid':'f','...",United-States,Adm-clerical,f,f,f,White,SVHC,Not-in-family,f,f,Private
2225,2225,Kristin Little,"54780 Albert Plain\nPort Christopherland, WY 7...",27.0,F,1991-08-17,f,f,2.2,t,NaN,?,f,NaN,NaN,2002.0,0.0,0.0,negative.|3143,Bachelors,13.0,272090.0,f,45.0,f,f,Divorced,"{'TSH measured':'f','query hyperthyroid':'f','...",El-Salvador,Prof-specialty,f,f,f,White,other,Unmarried,f,f,Private
2226,2226,Jody Turner,"825 Jennifer Ramp\nMartinport, KY 61619",31.0,F,1987/09/23,t,f,NaN,f,0.94,?,f,NaN,196.0,2107.0,0.0,0.0,negative.|415,HS-grad,9.0,155657.0,f,25.0,f,f,Divorced,"{'TSH measured':'f','query hyperthyroid':'f','...",United-States,Adm-clerical,f,f,f,Black,other,Not-in-family,f,f,State-gov
2227,2227,Gregory Atkins,"4488 Robert Knoll\nBrownchester, KY 57752",36.0,M,1982-03-17,t,f,1.7,t,0.98,?,f,2.200,115.0,1895.0,0.0,0.0,negative.|2942,HS-grad,9.0,181020.0,f,60.0,f,f,Never-married,"{'TSH measured':'t','query hyperthyroid':'f','...",United-States,Handlers-cleaners,f,f,f,White,SVHC,Own-child,f,f,Private
2228,2228,Wayne Flood,"8921 Shane Drive Suite 258\nLake Chadside, CT ...",59.0,?,1959-04-10,f,f,1.5,t,NaN,?,f,NaN,NaN,2119.0,0.0,0.0,negative.|2839,Some-college,10.0,111746.0,f,40.0,f,f,Married-civ-spouse,"{'TSH measured':'f','query hyperthyroid':'f','...",United-States,Craft-repair,f,f,f,White,other,Husband,f,f,Self-emp-inc
2229,2229,Rosemary Sanford,"3375 Daniel Plains\nNorth Holly, NY 31433",71.0,F,1946-11-17,t,f,2.2,t,1.23,?,f,0.500,198.0,2128.0,0.0,0.0,negative.|3257,7th-8th,4.0,247119.0,f,40.0,f,f,Widowed,"{'TSH measured':'t','query hyperthyroid':'f','...",Dominican-Republic,Machine-op-inspct,t,f,f,Other,other,Unmarried,f,f,Private
2230,2230,Shaunna Marron,"8504 Harvey Trail Suite 220\nEast Loriside, CA...",42.0,F,1976/01/20,t,f,1.4,t,0.83,?,f,5.200,58.0,708.0,0.0,0.0,negative.|2224,Some-college,10.0,188067.0,f,40.0,f,f,Widowed,"{'TSH measured':'t','query hyperthyroid':'f','...",United-States,Sales,f,f,f,White,SVI,Unmarried,f,f,Self-emp-inc
2231,2231,Paul Sterling,USS Harris\nFPO AE 95006,68.0,M,1949-12-26,t,f,0.6,t,0.88,?,f,3.700,65.0,2023.0,0.0,0.0,negative.|2520,Bachelors,13.0,119411.0,f,40.0,f,f,Never-married,"{'TSH measured':'t','query hyperthyroid':'t','...",United-States,Prof-specialty,f,f,f,White,Other,Not-in-family,f,f,??
2232,2232,James Coppin,"952 Douglas Harbors Apt. 064\nWest John, GA 97980",60.0,M,58-05-09,t,f,1.0,t,0.91,?,f,0.910,102.0,165.0,0.0,0.0,negative.|2207,Assoc-acdm,12.0,264526.0,f,40.0,f,f,Divorced,"{'TSH measured':'t','query hyperthyroid':'f','...",United-States,Machine-op-inspct,f,f,f,White,SVI,Own-child,f,f,Private
2233,2233,Kenneth Smith,"33206 Shelby Port\nSouth Jennifer, GA 55134",7.0,M,2010-10-25 00:00:00,t,f,NaN,f,0.94,?,f,2.400,155.0,1649.0,0.0,0.0,negative.|3690,HS-grad,9.0,289886.0,f,40.0,f,f,Never-married,"{'TSH measured':'t','query hyperthyroid':'f','...",Vietnam,Other-service,f,f,f,Asian-Pac-Islander,other,Unmarried,f,f,Self-emp-inc
2234,2234,Allison Grillo,"665 Ramirez Curve\nPort Joshuaton, IL 95099",35.0,F,1983-08-14,t,f,NaN,f,1.11,?,f,5.200,95.0,460.0,0.0,0.0,negative.|3714,Masters,14.0,110998.0,f,40.0,f,f,Widowed,"{'TSH measured':'t','query hyperthyroid':'f','...",India,Tech-support,f,f,f,Asian-Pac-Islander,STMW,Unmarried,f,f,Private
2235,2235,Antoinette Spencer,"376 Henderson Springs\nNew Julie, MS 83236",86.0,F,1932-06-13,t,f,1.6,t,1.01,?,f,1.700,124.0,511.0,0.0,0.0,negative.|2535,10th,6.0,317702.0,f,15.0,f,f,Never-married,"{'TSH measured':'t','query hyperthyroid':'f','...",United-States,Sales,f,f,f,Black,SVI,Own-child,f,f,Private
2236,2236,Sara Mcpherson,"58575 Mitchell Valley\nWhiteview, DE 23197",81.0,F,1937/03/19,t,f,2.2,t,0.78,?,f,0.200,133.0,956.0,0.0,0.0,negative.|303,Bachelors,13.0,114158.0,f,15.0,f,f,Never-married,"{'TSH measured':'t','query hyperthyroid':'f','...",United-States,Prof-specialty,f,f,f,White,other,Own-child,f,f,Private