In [1]:
import pandas as pd

In [4]:
data_other = pd.read_csv("other_train.csv") 
data_personal = pd.read_csv("personal_train.csv")

In [5]:
data_other.head()

,Unnamed: 0,name,address,FTI measured,education,lithium,TT4,T4U,capital-loss,capital-gain,...,query on thyroxine,medical_info,T3 measured,referral source,education-num,occupation,TBG measured,TBG,race,pregnant
0,0,Latonya Wilhelm,"397 Joshua Forge Suite 012\nEast Ericburgh, WV...",f,11th,f,NaN,NaN,0.0,0.0,...,F,"{'TSH measured':'f','query hyperthyroid':'f','...",f,other,7.0,Machine-op-inspct,f,?,White,f
1,1,Stacy Martinson,"59472 Brian Views Apt. 885\nKeithhaven, KS 03608",t,11th,f,124.0,1.04,0.0,0.0,...,f,"{'TSH measured':'t','query hyperthyroid':'f','...",f,other,7.0,Other-service,f,?,White,f
2,2,Linda Derby,Unit 5333 Box 7103\nDPO AA 03763,t,HS-grad,f,60.0,1.04,0.0,0.0,...,f,"{'TSH measured':'t','query hyperthyroid':'f','...",t,SVI,9.0,Priv-house-serv,f,?,Black,f
3,3,Albert Cipriano,"38302 Bradshaw Rue\nNorth Hannahshire, NC 34515",t,Bachelors,f,101.0,0.81,0.0,0.0,...,FALSE,"{'TSH measured':'t','query hyperthyroid':'f','...",t,SVI,13.0,Exec-managerial,f,?,White,f
4,4,David Cook,"7984 Jason Motorway Suite 440\nNelsonville, OK...",t,Some-college,f,89.0,0.83,0.0,0.0,...,f,"{'TSH measured':'t','query hyperthyroid':'f','...",t,other,10.0,Exec-managerial,f,?,White,f